<h3>ADD Salesman</h3>

<form action="/bmiit" method="POST" autocomplete="off">
    
    <input type="hidden" name="_id" value="">
    <div class="form-group">
        <label>Salesman Email/Username</label>
        <input type="text" class="form-control" name="S_name" value="" placeholder="Salesman Email id/Username">
        <label>Salesman Password</label>
        <input type="password" class="form-control" name="S_password" value="" placeholder="Salesman password">
        <label>Contact no</label>
        <input type="text" class="form-control" name="S_contact" value="" placeholder="Salesman Contact no ">
        <div class="text-danger">
        </div>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/bmiit/view_category"><i class="fa fa-list-alt"></i> View All</a>
        </div>
</form>